CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Lab_1/.idea
Lab_1/cmake-build-debug

Lab_2/.idea
Lab_2/cmake-build-debug


Lab_3/.idea
Lab_3/cmake-build-debug









